<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<!--            -->



<%= form_with(model: Category.new, local: true) do |form| %>


  <div class="field">
    <%= form.hidden_field :name, value: @category.id  %>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= form.text_field :name %>
  </div>
<% end %>



<!--       -->



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
